
@media (max-width: 1120px){
  .section1-table-container {
        width: 885px;
  }
  
  .table-right-menu_item{
    font-size: 13px;
  }
  .content-group_header__title{
    font-size: 14px;
  }
  .content-group_header__tage{
    font-size: 13px;
  }
  .content-group_header__text{
    font-size: 12px;
  }
  .news-date p{
    font-size: 12px;
  }
  .table-right_xemthem a{
    font-size: 16px;
  }
  .table-right_xemthem{
    padding: 0 30px;
  }
  .news-item:nth-child(6){
    display: none;
  }
  .slide-item-header-container{
    width: 850px;
  }
  
}

@media (max-width: 767px) {
  @keyframes slideDownFade {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
   .slide-item-header-container{
    width: 95vw;
  }
  .section1-table-container{
    display: block;
    width: 95vw;
    padding-top: 3%;
    margin-top: -55px;
  }
  .section1-table-left{
    width: 100%;
  }
  .section1-table-right{
    width: 100%;
  }
  .news-item img{
    width: 29%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sticky{
    display: none;
  }
  .container-control-arrow{
    margin-top: -14%;
  }
  .header{
    display: none;
  }
  .header-mobile{
    background: linear-gradient(90deg, rgba(255, 173, 66, 1) 27%, rgba(191, 101, 11, 1) 71%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: block;
  }
  .header-mobile-logo{
    background-image: url(./accset/logo1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 14%;
    padding-top: 90px;
    margin-bottom: -55px;
    z-index: 1000;
    cursor: pointer;
    filter: brightness(1.2) contrast(1.1);
  }
  .header-mobile-logo a{
    display: block;
    width: 100%;
    height: 185%;
    margin-top: -85px;
  }
  .header-mobile-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    gap: 10px;
    padding: 20px 0;
    width: 100%;
    height: 12vw;
  }
  .mobile-container_bnt img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  .mobile-container_bnt img:hover{
    filter: brightness(1.3) contrast(1.1);
  }
  .mobile-container_icon img{
    cursor: pointer;
  }
  .mobile-container_icon img:hover{
    filter: brightness(1.3) contrast(1.1);
  }
  .mobile-container-menu-icon{
    color: #fff;
    font-size: 8vw;
    margin-right: 10px;
    cursor: pointer;
  }
  .slide-item-header{
    margin-top: 10vw;
  }
  .slide-item-header_logo{
    width: 80px;
    height: 80px;
    top: 18%;
  }
  .header-mobli-container{
    width: 100%;
    display: flex;
    gap: 10px;
    position: relative;
    justify-content: space-around;
  }
  .mobile-container-menu{
    position: absolute;
    background-color: #222222;
    color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slideDownFade 0.4s ease-out forwards;
  }
  .mobile-container-menu_item.acrive a{
    background-image: url(./accset/bg_nav_item_active.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-container-menu_item:hover a{
    background-image: url(./accset/bg_nav_item_active.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mobile-container-menu_item{
    height: 70px;
    border-bottom: 1px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

  }
  .header{
    display: none;
  }
  .table-right-menu_item{
    font-size: 10px;
  }
  .section3-control-item{
    width: 80px;
    height: 80px;
    margin-right: -35px;
    margin-bottom: -20px;
  }
  .section3-control-item p{
    font-size: 12px;
  }
  .section3-content_sidel-monphai img{
    height: 420px;
  }
  .container-section3-content{
    height: 420px;
  }
  .section1-table-boder_topLeft{
    top: -27px;
    left: -20px;
    width: 250px;
    height: 404px;
    pointer-events: none;
  }
  .section1-table-boder_topRight{
    top: -27px;
    right: -20px;
    width: 250px;
    height: 404px;
     pointer-events: none;
  }
  .section1-table-boder_bottomLeft{
    bottom: -22px;
    left: -25px;
    width: 404px;
    height:250px;
     pointer-events: none;
  }
  .section1-table-boder_bottomRight{
    bottom: -22px;
    right: -25px;
    width: 404px;
    height:250px;
     pointer-events: none;
  }
  .container-section3-_control{
    left: 47%;
  }
}
@media (min-width: 1025px) {
  
}